@page
@model Hotel_Reservation_System.Pages.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}
<div class="vw-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="bg-light p-5" style="min-width:30vw">
        <div class="row">
            <h1 class="bold text-center">Sign Up</h1>
        </div>
        @if (Model.msg != "")
        {
            <div class="alert alert-danger mt-3">@Model.msg</div>
        }
        <div class="row">
            <form method="post">
                <div class="form-floating my-3">
                    @Html.TextAreaFor(m => m.user.FName, new { @class = "form-control", placeholder = "First Name", @id = "FNameI", @runat = "server" })
                    <label for="FNameI">First Name</label>
                </div>
                <div class="form-floating my-3">
                    @Html.TextAreaFor(m => m.user.LName, new { @class = "form-control", placeholder = "Last Name", @id = "LNameI", @runat = "server" })
                    <label for="LNameI">Last Name</label>
                </div>
                <div class="form-floating my-3">
                    @Html.TextAreaFor(m => m.user.NID, new { @class = "form-control", placeholder = "National ID", @id = "NIDI", @runat = "server" })
                    <label for="NIDI">National ID</label>
                </div>
                <div class="form-floating my-3">
                    @Html.TextAreaFor(m => m.user.Username, new { @class = "form-control", placeholder = "Username", @id = "UserI", @runat = "server" })
                    <label for="UserI">Username</label>
                </div>
                <div class="form-floating my-3">
                    @Html.TextAreaFor(m => m.user.Email, new { @class = "form-control", placeholder = "Email", @id = "EmailI", @runat = "server", @type = "email" })
                    <label for="EmailI">Email</label>
                </div>
                <div class="form-floating my-3">
                    @Html.PasswordFor(m => m.user.Password, new { @class = "form-control", placeholder = "Password", @id = "PassI", @runat = "server" })
                    <label for="PassI">Password</label>
                </div>
                <div class="form-floating my-3">
                    @Html.TextAreaFor(m => m.user.Phone, new { @class = "form-control", placeholder = "Phone Number", @id = "PhoneI", @runat = "server" })
                    <label for="PhoneI">Phone Number</label>
                </div>
                <div class="row my-3">
                    <label class="col text-center">Gender: </label>
                    <span class=" col d-flex justify-content-center">
                        @Html.RadioButtonFor(m => m.user.Gender, 1) <span class="mx-2">Male</span>
                    </span>
                    <span class="col d-flex justify-content-center">
                        @Html.RadioButtonFor(m => m.user.Gender, 2)<span class="mx-2">Female</span>
                    </span>
                </div>
                <button class="dark-blue-btn w-100" type="submit">Sign Up</button>
                <div class="row mt-4"><a href="/SignIn">Already have an account?</a></div>
            </form>
        </div>
    </div>
</div>
